﻿@model Dambel


<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="Image for Dambel" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3><a asp-controller="Dambel" asp-action="Details" asp-route-Id="@Model.DambelId">@Model.Name</a></h3>
            <h3>@Model.Desciption</h3>
        </div>
        <div class="addToCart">
            <p >
                <a class="btn btn-primary"  asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-dambelId="@Model.DambelId"> Add to Cart</a>
            </p>
        </div>
    </div>
</div>