﻿@model Dambel

<h3> @Model.Name</h3>
<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageURL" />
    <div class="caption-full">
        <h3 class="pull-right"> @Model.Price</h3>
        <h3><a href="#">@Model.Name</a></h3>
        <p>@Model.Desciption</p>
    </div>
    <div class="addToCart">
        <p>
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-dambelId="@Model.DambelId"> Add to Cart</a>
        </p>
    </div>
</div>


  