﻿@model ShoppingCartViewModel;


<h3> Shopping Cart : all of Dambels that i have bought</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th> Dambel</th>
            <th> amount </th>
            <th class="text-right"> Price</th>
            <th class="text-right"> SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.shoppingCart.ShoppingCartItem)
        {
            <tr>
                <td class="text-center"> @item.dambel.Name</td>
                <td class="text-left"> @item.Amount</td>
                <td class="text-right"> @item.dambel.Price</td>
                <td class="text-right"> @(item.Amount * item.dambel.Price)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right"></td>
            
            
            <td class="text-right"> @Model.shoppingCart.GetShoppingCartTotal()</td>
            
        </tr>
    </tfoot>
  
</table>