﻿@model HomeViewModel


<partial name="_Carousel" />
<h3> Dambels on Sale </h3>
<div>
    @foreach(var dambel in Model.DambelssOnSale)
    {
        <partial name="_DambelCard" model="dambel" />
         

    }
</div>

